.header-container{
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    height: 7%;
    width: 100%;
    border-bottom: 1px solid #000;
}

.room-management{
    position: absolute;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 32px;
    margin-left: 100px;
    margin-right: 75px;
}

.room-management:hover{
    color: #E7AE41;
    transition: 0.2s color ease-in-out;
}

.deleted-room{
    position: absolute;
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom: 4px solid #E7AE41;
    margin-top: 32px;
    margin-left: 360px;
    margin-right: 75px;
}

.deleted-room:hover{
    color: #E7AE41;
    transition: 0.2s color ease-in-out;
}

a{
    text-decoration: none;
    color: #000;
}