.header-container{
    display: flex;
    flex-direction: space-between;
    align-items: flex-end;
    align-items: center;
    height: 7%;
    width: 100%;
    border-bottom: 1px solid #000;
}

.header-container span{
    margin-top: 30px;
    margin-right: 30px;
    font-size: 1.4rem;
    font-weight: bold;
}

.param-table{
    width: 250px;
    margin-left: 95px;
    border-bottom: 4px solid #E7AE41;
}

.param-table:hover{
    color: #E7AE41;
    transition: 0.2s color ease-in-out;
}

.sensor-table:hover{
    color: #E7AE41;
    transition: 0.2s color ease-in-out;
}

.deleted-sensor:hover{
    color: #E7AE41;
    transition: 0.2s color ease-in-out;
}

a{
    text-decoration: none;
    color: #000;
}

/* add user button */
.add-btn {
    display: flex;
    text-align: center;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 1270px;
    margin-right: 20px;
    opacity: 0 !important;
    pointer-events: none;
}

.fa-plus {
    margin-right: 5px;
}

.add-btn:hover {
    cursor: pointer;
    color: #E7AE41;
    transition: 0.2s color ease-in-out;
}