/* table part */
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

th,
td {
    overflow: hidden;
    white-space: nowrap;
    padding: 15px;
    text-align: center;
    cursor: default;
}

th {
    background-color: #E7AE41;
    border: 1px solid #000;
    cursor: default;
    font-size: 1rem;
}

td {
    border: 1px solid #000;
    background-color: rgba(255, 255, 255);
}

td {
    text-overflow: ellipsis;
    font-size: 1rem;
    min-width: 100px;
    max-width: max-content;
}

.table {
    overflow: hidden;
    border: 1px solid #000;
    border-collapse: collapse;
    width: 90%;
    text-align: left;
    font-size: 1rem;
}

/* table pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-item {
    border: 0px solid #000;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-right: 5px;
    font-size: 1rem;
}

.page-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.previous {
    border: 1px solid #000;
    width: 100px;
}

.number {
    border: 1px solid #000;
    width: 50px;
}

.number:hover {
    background-color: #E7AE41;
    color: #fff;
    transition: 0.2s background-color ease-in-out, color 0.2s ease-in-out;
}

.next {
    border: 1px solid #000;
    width: 100px;
}

.page-item.disabled {
    background-color: rgba(0, 0, 0, 0.2);
}

.page-item.active {
    background-color: #E7AE41;
}