.content-header{
    margin-top: 5px;
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-content{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 91%;
    display: flex;
    flex-direction: row;
}

.left-dashboard{
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
    width: 500px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
}

.middle-dashboard{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
    width: 900px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.right-dashboard{
    height: 100%;
    width: 500px;
}

.right-dashboard-one{
    border: 1px solid black;
    border-radius: 5px;
    /* height: 395px; */
    height: 52.5%;
    width: 500px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.right-dashboard-two{
    border: 1px solid black;
    border-radius: 5px;
    /* height: 345px; */
    height: 46%;
    width: 500px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.pm-gauge-container {
    margin-top: 15px;
    height: 750px;
    /* Fixed height for scrollable container */
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.pm-gauge-container>div {
    margin-top: 20px;
    width: 400px;
    height: 200px;
}

.line-chart-container{
    height: 750px;
    /* Fixed height for scrollable container */
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.temperature-gauge-container {
    margin-top: 5px;
    height: auto;
    /* Fixed height for scrollable container */
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.temperature-gauge-container h3{
    position: absolute;
    margin-top: 10px;
}

.others-gauge-container {
    margin-top: 5px;
    height: auto;
    /* Fixed height for scrollable container */
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.others-gauge-container h3{
    position: absolute;
    margin-top: -20px;
}

.rd-header{
    margin-top: 10px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.rd-selection{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.data-summary-content{
    height: auto;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.data-summary-content br{
    margin-bottom: 15px;
}