* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html, body {
    height: 100%;
}

body {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #C2C7D0;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #343A40;
    border-bottom: 5px solid #E7AE41;
    width: 100%;
    height: 7.6%;
}

.logo-container{
    width: 50%;
}

.ram-health-logo{
    position: absolute;
    margin-top: -20px;
    margin-left: 8.5px;
    font-size: 2.2rem;
    font-weight: bold;
    color: #E7AE41;
    transition: font-size 0.3s ease-in;
}

.ram-health-logo:hover{
    cursor: pointer;
    font-size: 2.25rem;
    color: #fff;
}

/* logout symbol css */
.log-out-container{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.log-out{
    font-size: 1.5rem;
    margin-right: 20px;
    color: #fff;
}

.log-out:hover{
    cursor: pointer;
    color: #E7AE41;
}

/* log out button css*/
.log-out-display{
    position: absolute;
    margin-top: 50px;
    margin-right: 20px;
}

.logout-button{
    width: 150px;
    height: 40px;
    font-size: 1.25rem;
    margin-right: 20px;
    color: #343A40;
    background-color: #fff;
    border: 1px solid #000;
}

.logout-button:hover{
    cursor: pointer;
    color: #E7AE41;
}

/* main page css */
.page-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
    width: 99%;
    height: 90%;
    background-color: #fff;
    box-shadow: 0 0 1px;
    border: 0 solid rgba(0,0,0,.125);
}

.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    margin-top: 50px;
    margin-left: 95px;
    margin-right: 95px;
    margin-bottom: 20px;
}

/* sort dropdown */
.sorting-dropdown{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 1.2rem;
}

.sorting-dropdown select{
    width: 155px;
    height: 30px;
    font-size: 1.2rem;
    margin-left: 5px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    padding: 4px;
}

/* search input */
.search-input{
    font-size: 1.2rem;
}

#search-input {
    padding: 4px;
    border: 1px solid #000;
    width: 155px;
    height: 30px;
    font-size: 1.2rem;
    color: #000;
    margin-right: 20px;
}

/*import data button*/
.import-btn{
    display: flex;
    text-align: center;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 1.2rem;
}

.fa-file-import{
    margin-right: 7px;
}

.import-btn:hover{
    cursor: pointer;
    color: #E7AE41;
    transition: 0.2s color ease-in-out;
}

/*export data button*/
.export-btn {
    display: flex;
    text-align: center;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 1.2rem;
}

.fa-file-export {
    margin-right: 7px;
}

.export-btn:hover {
    cursor: pointer;
    color: #E7AE41;
    transition: 0.2s color ease-in-out;
}

/* white space styling */
.whitespace{
    display: flex;
    text-align: center;
    width: max-content;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 95px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 1.2rem;
}

.whitespace:hover{
    cursor: default;
}